/* ============= VARIABLES ============= */
:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #434455;
  --dark-color: #2e2f42;
  --brand-color: #4d5ae5;
  --accent-color: #404bbf;
  --white-color: #ffffff;
  --light-bg-color: #f4f4fd;
}

/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES   ============= */
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* Reset default margins for headings and paragraphs */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Make images block elements */
img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-right: 76px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 32px;
}

.centered-text {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============= COMMON STYLES ============= */

/* ============= HEADER ============= */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 24px 0; */
}

.page-navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 40px;
}
.header-logo-secondary {
  color: var(--dark-color);
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  color: var(--accent-color);
}

.address-section {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-list-item:hover,
.contacts-list-item:focus {
  color: var(--accent-color);
}
/* ============= HEADER ============= */

/* ============= HERO ============= */
.hero {
  background-color: var(--dark-color);
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  /* padding: 0 472px; */
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-button {
  display: block;
  min-width: 169px;
  background-color: var(--brand-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}
/* ============= HERO ============= */

/* ============= APPROACH ============= */
.approach-list {
  display: flex;
  gap: 24px;
}

.approach-item {
  width: calc((100% - 3 * 24px) / 4);
}
/* ============= APPROACH ============= */

/* ============= TEAM ============= */

.team-section {
  background-color: var(--light-bg-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}

.team-info {
  padding: 32px 0;
}

.team-section .card-text {
  margin-bottom: 0;
}

.team-section .team-img {
  margin-bottom: 0;
}
/* ============= TEAM ============= */

/* ============= PORTFOLIO ============= */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
/* ============= PORTFOLIO ============= */

/* ============= FOOTER ============= */
.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-description {
  max-width: 264px;
}

.footer-logo-primary {
  color: var(--brand-color);
}

.footer-logo-secondary {
  color: var(--light-bg-color);
}

.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-bg-color);
}
/* ============= FOOTER ============= */
